/*
    UTILITAIRES GÉNÉRIQUES
    v0.1.0
    Configuration des utilitaires génériques CSS ITADS
    https://github.com/ita-design-system/utilities.scss
*/
$briks-utilities: (
    background-color: (
        enabled: true,
        prefix: 'bc-',
        names-and-values: $briks-colors,
        // pseudo-classes: (hover),
        // additional-names-and-values: (
        //     'transparent': transparent
        // ),
        responsive: false
    ),
    border: (
        enabled: true,
        prefix: 'b-',
        names-and-values: $briks-borders,
        // pseudo-classes: (hover),
        // additional-names-and-values: (),
        responsive: false
    ),
    border-top: (
        enabled: true,
        prefix: 'bt-',
        names-and-values: $briks-borders,
        // pseudo-classes: (hover),
        // additional-names-and-values: (),
        responsive: false
    ),
    border-right: (
        enabled: true,
        prefix: 'br-',
        names-and-values: $briks-borders,
        // pseudo-classes: (hover),
        // additional-names-and-values: (),
        responsive: false
    ),
    border-bottom: (
        enabled: true,
        prefix: 'bb-',
        names-and-values: $briks-borders,
        // pseudo-classes: (hover),
        // additional-names-and-values: (),
        responsive: false
    ),
    border-left: (
        enabled: true,
        prefix: 'bl-',
        names-and-values: $briks-borders,
        // pseudo-classes: (hover),
        // additional-names-and-values: (),
        responsive: false
    ),
    border-radius: (
        enabled: true,
        prefix: 'brad-',
        names-and-values: $briks-border-radius,
        // pseudo-classes: (hover),
        // additional-names-and-values: (),
        responsive: false
    ),
    box-shadow: (
        enabled: true,
        prefix: 'bs-',
        names-and-values: $briks-shadows,
        // pseudo-classes: (hover),
        // additional-names-and-values: (),
        responsive: false
    ),
    color: (
        enabled: true,
        prefix: 'c-',
        names-and-values: $briks-colors,
        // pseudo-classes: (hover),
        // additional-names-and-values: (
        //     'transparent': transparent
        // ),
        responsive: false
    ),
    cursor: (
        enabled: true,
        prefix: 'cur-',
        names-and-values: (
            pointer: pointer
        ),
        // pseudo-classes: (hover),
        // additional-names-and-values: (),
        responsive: false
    ),
    display: (
        enabled: true,
        prefix: 'd-',
        names-and-values: (
            block: block,
            inline-block: inline-block,
            none: none
        ),
        // pseudo-classes: (hover),
        responsive: true
    ),
    list-style: (
        enabled: true,
        prefix: 'ls-',
        names-and-values: (
            none: none
        ),
        // pseudo-classes: (hover),
        // additional-names-and-values: (),
        responsive: false
    ),
    pointer-events: (
        enabled: true,
        prefix: 'pe-',
        names-and-values: (
            none: none,
            auto: auto
        ),
        // pseudo-classes: (hover),
        // additional-names-and-values: (),
        responsive: true
    ),
    visibility: (
        enabled: true,
        prefix: 'v-',
        names-and-values: (
            hidden: hidden
        ),
        // pseudo-classes: (hover),
        // additional-names-and-values: (),
        responsive: false
    )
);